 <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN THEME PANEL -->
                    <div class="theme-panel">
                        <div class="toggler tooltips" data-container="body" data-placement="left" data-html="true" data-original-title="Click to open advance theme customizer panel">
                            <i class="icon-settings"></i>
                        </div>
                        <div class="toggler-close">
                            <i class="icon-close"></i>
                        </div>
                        <div class="theme-options">
                            <div class="theme-option theme-colors clearfix">
                                <span> THEME COLOR </span>
                                <ul>
                                    <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default"> </li>
                                    <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey"> </li>
                                    <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue"> </li>
                                    <li class="color-dark tooltips" data-style="dark" data-container="body" data-original-title="Dark"> </li>
                                    <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light"> </li>
                                </ul>
                            </div>
                            <div class="theme-option">
                                <span> Theme Style </span>
                                <select class="layout-style-option form-control input-small">
                                    <option value="square" selected="selected">Square corners</option>
                                    <option value="rounded">Rounded corners</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Layout </span>
                                <select class="layout-option form-control input-small">
                                    <option value="fluid" selected="selected">Fluid</option>
                                    <option value="boxed">Boxed</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Header </span>
                                <select class="page-header-option form-control input-small">
                                    <option value="fixed" selected="selected">Fixed</option>
                                    <option value="default">Default</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Top Dropdown</span>
                                <select class="page-header-top-dropdown-style-option form-control input-small">
                                    <option value="light" selected="selected">Light</option>
                                    <option value="dark">Dark</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Mode</span>
                                <select class="sidebar-option form-control input-small">
                                    <option value="fixed">Fixed</option>
                                    <option value="default" selected="selected">Default</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Style</span>
                                <select class="sidebar-style-option form-control input-small">
                                    <option value="default" selected="selected">Default</option>
                                    <option value="compact">Compact</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Menu </span>
                                <select class="sidebar-menu-option form-control input-small">
                                    <option value="accordion" selected="selected">Accordion</option>
                                    <option value="hover">Hover</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Sidebar Position </span>
                                <select class="sidebar-pos-option form-control input-small">
                                    <option value="left" selected="selected">Left</option>
                                    <option value="right">Right</option>
                                </select>
                            </div>
                            <div class="theme-option">
                                <span> Footer </span>
                                <select class="page-footer-option form-control input-small">
                                    <option value="fixed">Fixed</option>
                                    <option value="default" selected="selected">Default</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- END THEME PANEL -->
                    <h1 class="page-title"> Responsive Bootstrap Tables
                        <small>responsive bootstrap table demos</small>
                    </h1>
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Tables</span>
                            </li>
                        </ul>
                        <div class="page-toolbar">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Actions
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a href="#">
                                            <i class="icon-bell"></i> Action</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-shield"></i> Another action</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-user"></i> Something else here</a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-bag"></i> Separated link</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE HEADER-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="note note-success">
                                <p> Please try to re-size your browser window in order to see the tables in responsive mode. </p>
                            </div>
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-cogs"></i>Responsive Flip Scroll Tables </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body flip-scroll">
                                    <table class="table table-bordered table-striped table-condensed flip-content">
                                        <thead class="flip-content">
                                            <tr>
                                                <th width="20%"> Code </th>
                                                <th> Company </th>
                                                <th class="numeric"> Price </th>
                                                <th class="numeric"> Change </th>
                                                <th class="numeric"> Change % </th>
                                                <th class="numeric"> Open </th>
                                                <th class="numeric"> High </th>
                                                <th class="numeric"> Low </th>
                                                <th class="numeric"> Volume </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> AAC </td>
                                                <td> AUSTRALIAN AGRICULTURAL COMPANY LIMITED. </td>
                                                <td class="numeric"> &nbsp; </td>
                                                <td class="numeric"> -0.01 </td>
                                                <td class="numeric"> -0.36% </td>
                                                <td class="numeric"> $1.39 </td>
                                                <td class="numeric"> $1.39 </td>
                                                <td class="numeric"> &nbsp; </td>
                                                <td class="numeric"> 9,395 </td>
                                            </tr>
                                            <tr>
                                                <td> AAD </td>
                                                <td> ARDENT LEISURE GROUP </td>
                                                <td class="numeric"> $1.15 </td>
                                                <td class="numeric"> +0.02 </td>
                                                <td class="numeric"> 1.32% </td>
                                                <td class="numeric"> $1.14 </td>
                                                <td class="numeric"> $1.15 </td>
                                                <td class="numeric"> $1.13 </td>
                                                <td class="numeric"> 56,431 </td>
                                            </tr>
                                            <tr>
                                                <td> AAX </td>
                                                <td> AUSENCO LIMITED </td>
                                                <td class="numeric"> $4.00 </td>
                                                <td class="numeric"> -0.04 </td>
                                                <td class="numeric"> -0.99% </td>
                                                <td class="numeric"> $4.01 </td>
                                                <td class="numeric"> $4.05 </td>
                                                <td class="numeric"> $4.00 </td>
                                                <td class="numeric"> 90,641 </td>
                                            </tr>
                                            <tr>
                                                <td> ABC </td>
                                                <td> ADELAIDE BRIGHTON LIMITED </td>
                                                <td class="numeric"> $3.00 </td>
                                                <td class="numeric"> +0.06 </td>
                                                <td class="numeric"> 2.04% </td>
                                                <td class="numeric"> $2.98 </td>
                                                <td class="numeric"> $3.00 </td>
                                                <td class="numeric"> $2.96 </td>
                                                <td class="numeric"> 862,518 </td>
                                            </tr>
                                            <tr>
                                                <td> ABP </td>
                                                <td> ABACUS PROPERTY GROUP </td>
                                                <td class="numeric"> $1.91 </td>
                                                <td class="numeric"> 0.00 </td>
                                                <td class="numeric"> 0.00% </td>
                                                <td class="numeric"> $1.92 </td>
                                                <td class="numeric"> $1.93 </td>
                                                <td class="numeric"> $1.90 </td>
                                                <td class="numeric"> 595,701 </td>
                                            </tr>
                                            <tr>
                                                <td> ABY </td>
                                                <td> ADITYA BIRLA MINERALS LIMITED </td>
                                                <td class="numeric"> $0.77 </td>
                                                <td class="numeric"> +0.02 </td>
                                                <td class="numeric"> 2.00% </td>
                                                <td class="numeric"> $0.76 </td>
                                                <td class="numeric"> $0.77 </td>
                                                <td class="numeric"> $0.76 </td>
                                                <td class="numeric"> 54,567 </td>
                                            </tr>
                                            <tr>
                                                <td> ACR </td>
                                                <td> ACRUX LIMITED </td>
                                                <td class="numeric"> $3.71 </td>
                                                <td class="numeric"> +0.01 </td>
                                                <td class="numeric"> 0.14% </td>
                                                <td class="numeric"> $3.70 </td>
                                                <td class="numeric"> $3.72 </td>
                                                <td class="numeric"> $3.68 </td>
                                                <td class="numeric"> 191,373 </td>
                                            </tr>
                                            <tr>
                                                <td> ADU </td>
                                                <td> ADAMUS RESOURCES LIMITED </td>
                                                <td class="numeric"> $0.72 </td>
                                                <td class="numeric"> 0.00 </td>
                                                <td class="numeric"> 0.00% </td>
                                                <td class="numeric"> $0.73 </td>
                                                <td class="numeric"> $0.74 </td>
                                                <td class="numeric"> $0.72 </td>
                                                <td class="numeric"> 8,602,291 </td>
                                            </tr>
                                            <tr>
                                                <td> AGG </td>
                                                <td> ANGLOGOLD ASHANTI LIMITED </td>
                                                <td class="numeric"> $7.81 </td>
                                                <td class="numeric"> -0.22 </td>
                                                <td class="numeric"> -2.74% </td>
                                                <td class="numeric"> $7.82 </td>
                                                <td class="numeric"> $7.82 </td>
                                                <td class="numeric"> $7.81 </td>
                                                <td class="numeric"> 148 </td>
                                            </tr>
                                            <tr>
                                                <td> AGK </td>
                                                <td> AGL ENERGY LIMITED </td>
                                                <td class="numeric"> $13.82 </td>
                                                <td class="numeric"> +0.02 </td>
                                                <td class="numeric"> 0.14% </td>
                                                <td class="numeric"> $13.83 </td>
                                                <td class="numeric"> $13.83 </td>
                                                <td class="numeric"> $13.67 </td>
                                                <td class="numeric"> 846,403 </td>
                                            </tr>
                                            <tr>
                                                <td> AGO </td>
                                                <td> ATLAS IRON LIMITED </td>
                                                <td class="numeric"> $3.17 </td>
                                                <td class="numeric"> -0.02 </td>
                                                <td class="numeric"> -0.47% </td>
                                                <td class="numeric"> $3.11 </td>
                                                <td class="numeric"> $3.22 </td>
                                                <td class="numeric"> $3.10 </td>
                                                <td class="numeric"> 5,416,303 </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet box red">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-cogs"></i>Basic Bootstrap 3.0 Responsive Table </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th> # </th>
                                                    <th> Table heading </th>
                                                    <th> Table heading </th>
                                                    <th> Table heading </th>
                                                    <th> Table heading </th>
                                                    <th> Table heading </th>
                                                    <th> Table heading </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> 1 </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                </tr>
                                                <tr>
                                                    <td> 2 </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                </tr>
                                                <tr>
                                                    <td> 3 </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-cogs"></i>Bordered Bootstrap 3.0 Responsive Table </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th> # </th>
                                                    <th> Table heading </th>
                                                    <th> Table heading </th>
                                                    <th> Table heading </th>
                                                    <th> Table heading </th>
                                                    <th> Table heading </th>
                                                    <th> Table heading </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> 1 </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                </tr>
                                                <tr>
                                                    <td> 2 </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                </tr>
                                                <tr>
                                                    <td> 3 </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet box yellow">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-cogs"></i>All in One Bootstrap 3.0 Responsive Table </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th> # </th>
                                                    <th> Table heading </th>
                                                    <th> Table heading </th>
                                                    <th> Table heading </th>
                                                    <th> Table heading </th>
                                                    <th> Table heading </th>
                                                    <th> Table heading </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> 1 </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                </tr>
                                                <tr>
                                                    <td> 2 </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                </tr>
                                                <tr>
                                                    <td> 3 </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                    <td> Table cell </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet box purple">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-cogs"></i>Horizontal Scrollable Responsive Table </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col" style="width:450px !important"> Column header 1 </th>
                                                    <th scope="col"> Column header 2 </th>
                                                    <th scope="col"> Column header 3 </th>
                                                    <th scope="col"> Column header 4 </th>
                                                    <th scope="col"> Column header 5 </th>
                                                    <th scope="col"> Column header 6 </th>
                                                    <th scope="col"> Column header 7 </th>
                                                    <th scope="col"> Column header 8 </th>
                                                    <th scope="col"> Column header 9 </th>
                                                    <th scope="col"> Column header 10 </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                </tr>
                                                <tr>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                </tr>
                                                <tr>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                </tr>
                                                <tr>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                </tr>
                                                <tr>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                </tr>
                                                <tr>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                    <td> Table data </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>